name: build and publish

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup JDK17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant exec perms for Gradle
        run: chmod +x gradlew

      - name: Check secrets
        run: |
          if [ -z "$CURSEFORGE_API_KEY" ]; then
            echo "❌ CURSEFORGE_API_KEY is EMPTY"
            exit 1
          else
            echo "✅ CURSEFORGE_API_KEY detected, length: ${#CURSEFORGE_API_KEY}"
          fi
        env:
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}

      - name: Build
        run: ./gradlew build

      - name: Publish to CF and Modrinth
        env:
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
          MODRINTH_API_KEY: ${{ secrets.MODRINTH_API_KEY }}
        run: ./gradlew curseforge modrinth
